<div>
  {{!-- Hidden mode gestion --}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{t "administration.audit.diagnostic"}}</h3>
    </div>
    {{#unless isHidden}}

    <div class="panel-body" >
      <table class="table table-condensed table-bordered table-striped">
        <thead id="tableHeader">
          <tr>
            <th style="width:80%;">{{sortColumn "TestName" translationKey="administration.diagnostic.TestName"}}</th>
            <th style="width:20%;">{{sortColumn "IsSuccesful" translationKey="administration.diagnostic.IsValid"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each collection}}
          <tr>
            <td>{{display_for "TestName" isNoLabel=true}}</td>
            <td>{{display_for "IsSuccesful" isNoLabel=true}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="panel-body paginator">
      <div id="pagination"></div>
    </div>
    {{/unless}}
  </div>
  {{!-- Line selection container --}}
  <div id="lineSelectionContainer"></div>
</div>