<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{t "administration.audit.domainTest.title"}}</h3>
    </div>
    <div class="row">
      <div class="col-md-12">{{input_for "Boolean" }}</div>
      <div class="col-md-12">{{input_for "Date" }}</div>
      <div class="col-md-12">{{input_for "DateHeure" }}</div>
      <div class="col-md-12">{{input_for "Montant" }}</div>
      <div class="col-md-12">{{input_for "Email" }}</div>
      <div class="col-md-12">{{input_for "Entier" }}</div>
      <div class="col-md-12">{{input_for "Id" }}</div>
      <div class="col-md-12">{{input_for "Texte50" }}</div>
      <div class="col-md-12">{{options_selected "SampleReferencedId" listKey="referenceSampleList" isMultiple="true" }}</div>
      <div class="col-md-12">{{input_for "SampleMultipleReferencedId" isMultiple="true" }}</div>
      </div>
    {{button "button.save" icon="save" class="btn-primary pull-right" type="submit"}}
  </div>
