<div>
  {{!-- Hidden mode gestion --}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{t "administration.audit.listWithLine"}}</h3>
    </div>
   
    <div class="panel-body" >
      <table class="table table-condensed table-bordered table-striped">
        <thead id="tableHeader">
          <tr>
            <th style="width:80%;">{{sortColumn "label" translationKey="administration.diagnostic.label"}}</th>
            <th style="width:20%;">{{sortColumn "value" translationKey="administration.diagnostic.value"}}</th>
            <th style="width:20%;">{{sortColumn "value" translationKey="administration.diagnostic.action"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each collection}}
          <tr>
            <td>{{display_for "label" isNoLabel=true}}</td>
            <td>{{display_for "value" isNoLabel=true}}</td>
            <td>{{button "edit" class="edit"}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{button "edit" class="btnEdit"}}
      {{button "save" class="btnSave" type="submit"}}
    </div>
    <div class="panel-body paginator">
      <div id="pagination"></div>
    </div>
   
  </div>
  {{!-- Line selection container --}}
  <div id="lineSelectionContainer"></div>
</div>