{{!-- us in the view : "app/views/accueil/graphCompositeView.js--}}
<div>
  {{open_panel "accueil.graph.title" }}
 
  {{!-- Bind child views to the template using following pattern: <div id="graphConsultEdit"></div> --}}
 
  <div class="panel-body">
    {{#if isEdit}}
    {{button "Save" class="btnSave" type="submit"}}
    {{button "Cancel" class="btnCancel"}}
    {{else}}
    {{button "Edit" class="btnEdit"}}
    {{/if}}
  </div>
  {{close_panel}}
</div>
