<h2>Consultation du message {{id}}</h2>
{{#form}}
  {{input_for "id"}}
  {{input_for "text"}}
  {{input_for "date"}}
  {{input_for "author"}}
  {{input_for "authorId"}}
  {{options_selected "type" listKey='typeMessages'}}
  {{button_save}}
  {{button_cancel}}
{{/form}}
